@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins:wght@400;600&display=swap');

:root {
    --primary-color: #F1E8D0;
    --secondary-color: #CB9958;
    --accent-color: #628053;
    --contrast-color: #4C3731;
    --contrast-color-2: #A75959;
    --text-black: #4C3731;

    --Poppins: 'Poppins', sans-serif;
    --Caveat: 'Caveat Brush', cursive;

}
body {
    margin: 0;
    padding: 0;
}
section {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: var(--text-black);
}
nav {

    padding: 10px 0px;
    background-color: var(--primary-color);
    position: relative;

}
.Logo {
    margin: auto;
    width: 80%;
    text-align: center;
    
 
}
.blank-box {
    margin: 0;
    padding: 40px 100px;

}
nav .flex-container {
    width: 100%;
    display: flex;
    margin: auto;
}
nav .flex-container .left-links {
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    width: 50%;
    font-family: 'Caveat Brush', cursive;
    align-items: center;


}
nav .flex-container .right-links {
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    width: 50%;
    font-family: 'Caveat Brush', cursive;
    align-items: center;


}
.Logo img {
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    
}

.Hero #Hero-img {
    background-image: url("./images/Hero-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 540px 0px 60px 0px;
}
.Hero .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Hero #Hero-img .flex-container h1 {
    font-family: var(--Poppins);
    font-weight: 600;
    font-size: 130px;
    margin: -40px;
    padding: 0;
    color: white;
}
.Hero #Hero-img .flex-container h2 {
    margin: 0;
    padding: 0;
    font-family: var(--Caveat);
    font-size: 48px;
    font-weight: 100;
    color: white;
}
.Hero #Hero-img .flex-container h3 {
    margin: 0;
    padding: 0;
    font-family: var(--Caveat);
    font-size: 32px;
    font-weight: 100;
    color: white;
}
.Hero #Hero-img .flex-container button {
    margin: 30px;
    font-family: var(--Caveat);
    font-size: 32px;
    background-color: var(--accent-color);
    color: white;
    border: 0;
    padding: 18px 78px;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.2);
    
}