@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins:wght@400;600&display=swap');

:root {
    --primary-color: #F1E8D0;
    --secondary-color: #CB9958;
    --accent-color: #628053;
    --contrast-color: #4C3731;
    --contrast-color-2: #A75959;
    --text-black: #4C3731;

    --Poppins: 'Poppins', sans-serif;
    --Caveat: 'Caveat Brush', cursive;

}
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
section {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: var(--text-black);
}
nav {

    padding: 10px 0px;
    background-color: var(--primary-color);
    position: relative;

}
.Logo {
    margin: auto;
    width: 80%;
    text-align: center;
    
 
}
.blank-box {
    margin: 0;
    padding: 40px 100px;

}
nav .flex-container {
    width: 100%;
    display: flex;
    margin: auto;
}
nav .flex-container .left-links {
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    width: 50%;
    font-family: 'Caveat Brush', cursive;
    align-items: center;


}
nav .flex-container .right-links {
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    width: 50%;
    font-family: 'Caveat Brush', cursive;
    align-items: center;


}
.Logo img {

    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    
}

.Hero #Hero-img {
    background-color: var(--primary-color);
    background-image: url("./images/H5.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 500px;
    display: block;
}

.Hero #Hero-img .flex-container {
    padding: 0;
    margin: 0;
    padding-top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Hero #Hero-img .flex-container div {
    display: block;
    min-height: 150px;
    margin-top: -30px;
    margin-bottom: -20px;
    font-family: var(--Poppins);
    font-weight: 600;
    font-size: 100px;
    color: var(--accent-color);
}
.Hero #Hero-img .flex-container h2 {
 
    margin: 0;
    font-family: var(--Caveat);
    font-size: 38px;
    font-weight: 100;
    color: var(--contrast-color-2);
}
.Hero #Hero-img .flex-container h3 {
    margin: 0;
    font-family: var(--Caveat);
    font-size: 18px;
    font-weight: 100;
    color: var(--contrast-color-2);
}
.Hero #Hero-img .flex-container button {
    margin: 0;
    margin-top: 20px;
    padding: 10px 50px;
    font-family: var(--Caveat);
    font-size: 18px;
    background-color: var(--accent-color);
    color: white;
    border: none;
    width: fit-content;
}